*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
body {
  background: #3b5999;
}




.box1{
  display:flex;
  flex-direction:column;
  padding-top:200px;
  position:absolute;
  left:30%;
  top: 30%;
  font-size:50px;
  color:white;
  font-weight:bold;
  
  
}

input {
  display:flex;
  flex-direction: column;
  width:400px;
  height:50px;
}
#login {
 width: 100px;
 height:50px;
  font-size: 30px;
  left:20%;
  margin-top: 20px;
  font-weight: bold;
  color:black;
  border-radius: 10%;
  
}
#header {
  top:30%;
  left: 30%;
  color:white;
  font-weight:bold;
   position: absolute;
   font-size:90px;
}

  
  




@media screen and (max-width:400px)
{
  #header {
    font-size: 45px;
    top: 40%;
    left:30%;
  }
  
 #login{
   height:30px;
   width: 60px;
   font-size:20px;
 }
  
  .box1{
  display:flex;
  flex-direction:column;
  font-size: 20px;
  position:absolute;
  left:30%;
  top: 20%;
 
  
}
form {
    padding-top: 30px;
   
}
input{
  width: 200px;
  height: 30px;
  
}


}
